include LICENSE
include README.md
include setup.py
include install_tempo2.sh
include requirements.txt
include libstempo/__init__.py
include libstempo/libstempo.pyx
include libstempo/libstempo.cpp
include libstempo/GWsim-stub.h
include libstempo/t2fit-stub.h
include libstempo/eccUtils.py
include libstempo/emcee.py
include libstempo/fit.py
include libstempo/like.py
include libstempo/multinest.py
include libstempo/plot.py
include libstempo/spharmORFbasis.py
include libstempo/toasim.py
include libstempo/ecc_vs_nharm.txt
include demo/libstempo-demo.ipynb
include demo/libstempo-toasim-demo.ipynb
include libstempo/data/B1953+29_NANOGrav_dfg+12.par
include libstempo/data/B1953+29_NANOGrav_dfg+12.tim
include libstempo/data/J1909-3744_NANOGrav_dfg+12.par 
include libstempo/data/J1909-3744_NANOGrav_dfg+12.tim 