include setup.py
include libstempo/__init__.py
include libstempo/libstempo.pyx
include libstempo/libstempo.cpp
include libstempo/GWsim-stub.h
include libstempo/emcee.py
include libstempo/like.py
include libstempo/multinest.py
include libstempo/plot.py
include libstempo/toasim.py
include demo/libstempo-demo.ipynb
include demo/libstempo-toasim-demo.ipynb
include libstempo/data/B1953+29_NANOGrav_dfg+12.par
include libstempo/data/B1953+29_NANOGrav_dfg+12.tim
include libstempo/data/J1909-3744_NANOGrav_dfg+12.par 
include libstempo/data/J1909-3744_NANOGrav_dfg+12.tim 
include requirements.txt
