include setup.py
include __init__.py
include libstempo.pyx
include libstempo.cpp
include GWsim-stub.h
include emcee.py
include like.py
include multinest.py
include plot.py
include toasim.py
include Makefile
include libstempo-demo.ipynb
include libstempo-toasim-demo.ipynb
include data/B1953+29_NANOGrav_dfg+12.par
include data/B1953+29_NANOGrav_dfg+12.tim
include requirements.txt
